@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* VARIABLE */
:root{
    --major-bg-color: #131921;
    --minor-bg-color: #ebeded;
    --amazone-major-color: #febd68; 
}

/* BODY */
body{
    background-color: var(--minor-bg-color);
}




/* NAVIGATION */

.header{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
}

.header .nav{
    margin: 5px 90px 5px 90px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    /* background-color: red; */
}

/* 1st component */
.header .nav .amazon-logo{
    width: 100px;
    height: 75%;
    margin-top: 5px;
}

/* 2nd component */
.header .nav .search{
    display: flex;
    width: 60%;
    /* background-color: red; */
}
.header .nav .search .search-bar{
    width: 81%;
    margin-left: 50px;
}
.header .nav .search .search-button{
    width: 40px;
    margin: 1px 0px 1px 0px;
    border: none;
    background-color: var(--amazone-major-color);
}

/* 3rd component */
.header .nav .cart{
    display: flex;
}
.header .nav .cart p{
    margin-top: 8px;
    color: white;
}



/* SECTOIN 1 */
.section-1 h1{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #121212;
}


/* SECTION 2 */
.section-2{
    margin: 20px;
    display: flex;
    gap: 20px;
}

.section-2 img{
    width: 50%;
    border-radius: 15px;
}
.section-2 .details{
    width: 50%;
}


.section-2 .details .title{
    font-size: 25px;
    font-weight: 500;
    color: #121212;
}
.section-2 .details .paisa{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
}
.section-2 .details .about{
    margin-top: 10px;
    color: #121212;
}
.section-2 .details .about h4{
    font-size: 20px;
    font-weight: 500;
    color: #121212;
}
.section-2 .details .about ul{
    margin-left: 40px;
}


.section-2 .details .button{
    display: flex;
    margin-top: 20px;
    font-weight: 500;
    gap: 2px;
}
.section-2 .details .button .buy-now{
    width: 50%;
    border: none;
    background-color: #ffa41c;
    color: white;
    border-radius: 10px;
}
.section-2 .details .button .add-to-cart{
    width: 50%;
    border: 2px solid #ffa41c;
    background-color: transparent;
    color: #ffa41c;
    padding: 8px;
    border-radius: 10px;
}